<div class="categorie">
  <input type="checkbox" id="menu-toggle" class="sr-only" />
  <label for="menu-toggle" class="categorie__label">
    <svg class="burger" viewBox="0 0 32 32" width="32" height="32">

      <line class="burger__line" x1="2" y1="7" x2="30" y2="7" stroke="currentColor" stroke-width="2"
        stroke-linecap="round" />
      <line class="burger__line" x1="2" y1="16" x2="30" y2="16" stroke="currentColor" stroke-width="2"
        stroke-linecap="round" />
      <line class="burger__line" x1="2" y1="25" x2="30" y2="25" stroke="currentColor" stroke-width="2"
        stroke-linecap="round" />

    </svg>
    <span class="categorie__title">Catégories</span>
  </label>
  <ul class="categorie__list">{{categories}}</ul>
</div>