<div class="addProfile">
  <h4 class="addProfile__title">Ajouter un profile</h4>
  <form class="addProfile__form">
    <input class="addProfile__option" required type="text" name="nom" placeholder="Saisir un nom">
    <input class="addProfile__option" required type="text" name="image" placeholder="Saisir l'url d'une image">
    <input class="addProfile__option" type="date" name="date_naissance" placeholder="date de naissance" />
    <input class="addProfile__button" onclick="{{handler}}" type="button" value="Update" name="todo">
  </form>
</div>
