.navbar {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), transparent);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  color: var(--color-bg);
  font-family: var(--ff-sans);
  border: var(--color-gray-light) 1px solid;


  .navbar__list {
    display: flex;
    gap: 1rem;

  }

  .navbar__item {
    --_offset: 0.2rem;
    padding: 0.5rem 0.5rem;
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
    text-underline-offset: var(--_offset);
    cursor: pointer;
    transition: text-underline-offset 0.2s ease-in-out;
    font-size: 1.1rem;
    color: var(--color-bg);
  }

  .navbar__item:hover {
    --_offset: 0.5rem;

  }
}

.navbar__search {
  display: flex;
  flex-direction: row;
  justify-content: end;

}

.navbar__profile {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  border-left: solid var(--color-gray-light) 1px;

}

.navbar__label,
.navbar__select {
  display: none;
}

.navbar__image {
  width: 40px;
  height: 40px;
  border-radius: 10%;
  object-fit: cover;
  border: 1px solid var(--color-fg);
  transition: transform 0.2s ease;
}

.navbar__image:hover {
  transform: scale(1.1);
}

@media (min-width: 48rem) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }


  .navbar__label {
    display: flex;
    margin-right: 0.5rem;
    color: var(--color-bg);
    font-weight: 600;
  }

  .navbar__select {
    display: flex;
    padding: 0.4rem 0.8rem;
    margin-right: 1rem;
    border-radius: 8px;
    border: none;
    background-color: transparent;
    color: var(--color-bg);
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  .navbar__select:hover {
    background-color: var(--color-gray);
  }
}