<nav class="navbar font-sans">
  <ul class="navbar__list">
    <li class="navbar__item">
      <img class="navbar__logo" src="../server/images/logo.svg" alt="Logo de l'application">
    </li>
    <li class="navbar__item" onclick="{{hAbout}}">Accueil

    </li>
    <li class="navbar__item" onclick="{{hFavoris}}">Favoris</li>
  </ul>
  <div class="navbar__search">
    {{barrecherche}}
    <div class="navbar__profile">

      <label for="profile-select" class="navbar__label"></label>
      <select id="profile-select" class="navbar__select" onchange="{{handler}}">
        {{profile}}
      </select>

      <img id="profile-image" class="navbar__image" src="../server/images/{{image}}" alt="Photo de profil" />
    </div>
  </div>

</nav>