.mea {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.mea__titre {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  width: 100%;
  max-width: 70rem;
  text-align: left;
}

.mea__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 70rem;
}

.mea__card {
  border-radius: 0.5rem;
  overflow: hidden;
}

.mea__img {
  width: 100%;
  aspect-ratio: 2 / 3;
  overflow: hidden;
}

.mea__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mea__overlay {
  width: 100%;
  padding: 1rem;
  color: black;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
}


.mea__name {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 0 0.25rem;
  line-height: 1.2;
  a
}

.mea__desc {
  transition: opacity 0.3s ease;
  font-size: 0.9rem;
  margin: 0.5rem 0;
  height: auto;
  /* Permet à la description de s'ajuster */
  overflow: hidden;
}





@media (min-width: 48rem) {
  .mea__cards {
    grid-template-columns: repeat(3, 1fr);
  }
}