.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
  padding: 1rem;
  justify-items: center;
}

.card {
  position: relative;
  width: 100%;
  max-width: 15rem;
  border-radius: 0.5rem;
  overflow: hidden;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* L'image couvre toute la zone sans déformation */
  border-radius: 0.5rem;
  /* Coins arrondis */
}

.card__title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  /* Le titre prend toute la largeur de la carte */
  font-size: 1rem;
  /* Taille de police du titre */
  font-weight: 600;
  color: white;
  text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.6);
  /* Ombre légère */
  padding: 2rem 1rem 0 1rem;
  margin: 0;
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(44, 44, 44, 0));
  box-sizing: border-box;
  height: 30%;
  /* Le fond noir occupe un tiers de la hauteur de l'image */
  display: flex;
  align-items: flex-top;
  /* Le texte est aligné en bas du fond noir */
}

.card__title-text {
  z-index: 1;
  /* Placer le texte au-dessus du fond */
}



/* Ajout du style pour le bouton favori avec BEM */
.card__fav-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  background: red;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.card__fav-btn-icon {
  width: 24px;
  height: 24px;
  fill: none;
  stroke: #ccc;
  /* Cœur par défaut en gris */
  transition: stroke 0.2s ease, transform 0.2s ease;
}

/* État quand le film est ajouté aux favoris */
.card__fav-btn--liked .card__fav-btn-icon {
  stroke: red;
  /* Cœur rouge quand favori */
  transform: scale(1.2);
  /* Agrandissement du cœur lorsqu'il est aimé */
}




/* Styles pour les écrans plus larges (tablettes et desktops) */
@media (min-width: 768px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
    /* 4 colonnes pour les tablettes */
  }
}

@media (min-width: 1024px) {
  .cards {
    grid-template-columns: repeat(6, 1fr);
    /* 6 colonnes pour les écrans de bureau */
  }
}