body{
    background-color: var(--color-black);
    align-items: center;
}

.addMovie {
    max-width: 600px;
    background-color: hsl(254, 28%, 16%);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(254, 254, 254, 0.1);
    font-family: var(--ff-sans);
}

.addMovie__title {
    text-align: center;
    color:var(--color-white);
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.addMovie__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 2rem;
    width: 100%;
}

.addMovie__option {
    padding: 1rem;
    width: 100%;
    max-width: 30rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    transition: border 0.3s ease-in-out;
}

.addMovie__button {
    width: 100%;
    max-width: 30rem;
    background-color: #007bff;
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.1rem;
    
}

.addMovie__button:hover {
    background-color: #0056b3;
}